[Unit]
Description=gustave Celery Worker
After=network.target

[Service]
User=gustave
Environment="FLASK_CONFIG=ProductionConfig"
Environment="PYTHONPATH=${PYTHONPATH}:/etc/gustave"
WorkingDirectory=/etc/gustave
ExecStart=/usr/bin/celery -A celery_tasks.celery worker --loglevel=info
Restart=always
StandardOutput=append:/var/log/gustave.log
StandardError=append:/var/log/gustave.log

[Install]
WantedBy=multi-user.target
