[Unit]
Description=Used to run maintenance jobs on gustave
After=gustave.service
PartOf=gustave.target

[Service]
User=gustave
Environment="FLASK_CONFIG=ProductionConfig"
Environment="PYTHONPATH=${PYTHONPATH}:/usr/local/gustave"
WorkingDirectory=/etc/gustave/
ExecStart=celery -A entry:app worker --loglevel=info
Restart=always
RestartSec=5s
StandardOutput=append:/var/log/gustave.log
StandardError=append:/var/log/gustave.log
